<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QrSnapr.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>106CF5CA2B86D08B00AACCBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>106CF5DB2B86D08D00AACCBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>106CF5E52B86D08D00AACCBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
