name: Xcode - Build and Analyze

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Build and analyse default scheme using xcodebuild command
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "15.3"

      - name: Build
        run: |
          xcodebuild  clean build analyze -project "QrSnapr.xcodeproj" -scheme "QrSnapr"  -configuration Release CONFIGURATION_BUILD_DIR=./build | xcpretty && exit ${PIPESTATUS[0]}

      - name: Archive App
        run: |
          cd build
          zip -r QrSnapr.zip QrSnapr.app

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: QrSnapr
          path: build/QrSnapr.zip
